@charset "UTF-8";
/* 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 13px;
	color:#666666;
	/* font: inherit; */ 
	vertical-align: baseline;
	font-family: 'Noto Sans KR', sans-serif;
	/* font-family: 'Noto Serif KR', serif; */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
	background: #24373a;

}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	width:100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.tbl input {height:25px;padding:0 5px;vertical-align:middle;}
select {border: 0px; border-right: 1px solid #ddd; bottom: 1px; position: relative; background: none;}

/* custom */
/* table */
.tbl {border-top:2px solid #ff5400; table-layout:fixed; word-break:break-all; margin: auto;}
.tbl th, .tbl td {padding:10px 10px;vertical-align:middle;border-bottom:1px dotted #ddd;}
.tbl th {color:#333;font-weight:bold;}
.tbl.Form{width:500px;}
.tbl input[type="text"], input[type="password"] {border:1px solid #ddd; width: 100%; color:#666666; background: none;}
.tbl input[type="text"]:placeholder{color: #fff;}

/* align */
.alignC {text-align:center !important;}    
.alignL {text-align:left !important;}
.alignR {text-align:right !important;}
.xsmall {font-size:11px; color:gray;}

.bold{font-weight: bold;}
h1 {text-align: center; margin-bottom: 20px;}
.contents {background:#fcfcfc; padding:50px; border-radius: 20px; margin-bottom: 50px;height: auto;}

/* boardView */
.bcontent{min-height: 300px; line-height: 1.8;}
.bcontent img{max-width: 100%; margin:auto;text-align: center;}
.boxGray{background-color: #f1f1f1; border-radius: 4px; display: block; padding: 8px; }
/* boardWrite */
textarea{resize: vertical; width:100%; height:auto;}

/* top */
.wrap {width:50%; overflow:hidden; margin:0 auto; min-width:800px; /* background-color: #fff; */ }
.topmenu {padding: 20px; width: 100%; height: 100px; box-sizing: border-box;/* position: fixed; */}
.topmenu li{display: inline-block; margin:10px; }
.topmenu ul{list-style:none; margin-right: 50px;}
.topmenu img{width:20px; opacity: 1;}

/* a text decoration */
.highlight{color:#ff5400; font-weight: bold; text-decoration:none;}
.aLink {text-decoration:none; color:#666666;}
.aLink:hover {text-decoration:underline;}

/* btn */
.btnGroup {margin-top:30px;text-align:right; margin-bottom: 30px; vertical-align: bottom;}
.btn {padding:10px 20px;margin-right:3px;min-width:100px;height:auto;font-size:16px;cursor:pointer; }
.mint {background:#ff5400;color:#fff;border:1px solid #e84d00;}
.darkGray {color:#fff;background:#555;border:1px solid #4a4a4a;}
.gray{color:#fff; background: #c0c0c0; border:1px solid #ababab;}
.none{border:0px; background: none; width: 20px;}
.none img{opacity: 0.3;}
a.btn {text-decoration:none;}

/* etc */
.visible{display: block;}
.underTable{margin-top:50px;}
.iconGroup img{width:20px; height: 20px;}
.searchBox{vertical-align: middle; border: 1px solid #ddd; border-radius:20px; width:250px; height: 30px; box-sizing: border-box; background: none;bottom: 22px; position: relative;}
#search{ width: 100px; border: 0px; width: 100px;
    border: 0px;
    bottom: 2px;
    box-sizing: border-box;
    position: relative;}

/* page */
.page {color:#c0c0c0;text-decoration:none;text-align: center; margin-top: 20px;}
.page a{color:#333; text-decoration:none;text-align: center; margin-top: 20px;}
.page a:hover{color:#000; text-decoration: underline;}
.cmtPage{color:#c0c0c0;text-decoration:none;text-align: center; margin-top: 20px; font-size: 10px;}
.cmtPage a{color:#333; text-decoration:none;text-align: center; margin-top: 20px; font-size: 10px;}
.cmtPage a:hover{color:#000; text-decoration: underline;}