@charset "UTF-8";
/* 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	font: inherit; 
	vertical-align: baseline;
	font-family: 'Noto Sans KR', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background:#fff;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	width:100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.tbl input {height:25px;padding:0 5px;background:#fff;vertical-align:middle;}
select {height:25px;padding:0 5px;}

/* custom */
/* table */
.tbl {border-top:2px solid #61c6c5; table-layout:fixed; word-break:break-all; margin: auto;}
.tbl th, .tbl td {padding:12px 10px;vertical-align:middle;border-bottom:1px dotted #ddd;}
.tbl th {color:#333;font-weight:bold;background:#F2F2F2;/* border-right:1px solid #ddd; */}
.tbl.Form{width:500px;}


/* align */
.alignC {text-align:center !important;}    
.alignL {text-align:left !important;}
.alignR {text-align:right !important;}
.small {padding:2px 5px 1px;font-size:11px; color:gray;}
.xsmall {font-size:10px; color:#d3d3d3;}

.bold{font-weight: bold;}
h1 {text-align: center; margin-bottom: 20px;}
.contents {background:#fff; padding:50px;min-height:700px;}

/* boardView */
div.bcontent{min-height: 300px; line-height: 1.8;}
.boxGray{background-color: #f3f3f3; border-radius: 4px; display: block; padding: 8px; }

/* boardWrite */
textarea{resize: none; width:100%; height:300px}

/* top */
.wrap {width:100%; overflow:hidden; margin:0 auto; min-width:500px; /* border-top: solid 5px; border-top-color: #ffba00; */ }
.topmenu {background-color: #fff; padding: 20px; width: 100%; height: 100px; box-sizing: border-box;/* position: fixed; */}
.topmenu li{display: inline-block; margin:10px; }
.topmenu ul{text-align: right; margin-right: 70px; list-style:none;}
.topmenu img{}

/* a text decoration */
.aLink {color:#333;text-decoration:none;}
.aLink:hover {text-decoration:underline;}

/*input*/
.tbl input[type="text"],input[type="password"] {border:1px solid #ddd; width: 100%;}
.tbl input[type="text"]:placeholder{color: #fff;}

/* btn */
.btnGroup {margin-top:30px;text-align:right; margin-bottom: 30px; vertical-align: bottom;}
.btn {padding:10px 20px;margin-right:3px;min-width:100px;height:auto;font-size:16px;cursor:pointer;}
.mint {background:#61c6c5;color:#fff;border:1px solid #47b3b2;}
.darkGray {color:#fff;background:#555;border:1px solid #4a4a4a;}
.gray{color:#fff; background: #c0c0c0; border:1px solid #ababab;}
a.btn {text-decoration:none;}

/* etc */
.underTable{margin-top:30px; }
.iconGroup{text-align:right;}
.iconGroup img{width:20px; height: 20px;}
.searchBox{vertical-align: top;}
#search{ width: 150px; border: 1px solid #ddd;
    font-size: 16px;    
    margin: 5px;
    box-sizing: border-box;
}

/* page */
.page {color:#c0c0c0;text-decoration:none;text-align: center; margin-top: 20px;}
.page a{color:#333; text-decoration:none;text-align: center; margin-top: 20px;}
.page a:hover{color:#000; text-decoration: underline;}